# Compiled Object files
*.d
*.slo
*.lo
*.o
*.obj
*.pyc
*.py~

# Compiled binaries/ directories containing them
bin/
build/
_build/
__pycache__/*

# Other folders
.vscode/
*.code-workspace

# Python PyPi folders / files
dist/
*.egg-info/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
